html {
    background-color: #020659; 
    font-family: Veranda, Geneva, Tahoma, sans-serif; 
}
body {
    margin: 0 auto;
    background-color: #fff;
    width: 950px;
 }
header {
    color: #fff;
    padding-left:20px;
    background-color: #020659;
 }
 /*NAVIGATION*/

nav a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    padding-right: 20px;
 }
nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
 }
 .Smoothjazz h2{
    color: #fff;
 }

p {
    color: #fff;
 }
 
h1 {
    font-size: 22px;
    line-height: 2em;
 }
h1, h2, h3{
   font-weight: bold;
   text-transform: uppercase;
 }
 
h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
 }
 
h2, h3 {
    font-size: 20px;
    color: #590242;
    line-height: 2em;
 }

/* scroll section*/
.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    height: 400px;
 }
.scroll section {
    margin: 10px;
    position: relative;
 }
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 100px;
    width: 350px;
 }
/*Playlist scroll*/

.playlistscroll {
    display: flex;
    overflow-y: auto;
    height: 500px;
 }
.playlistscroll ::-webkit-scrollbar-thumb:hover {
    background-color: #020659;
 }
.playlistscroll ::-webkit-scrollbar-button, #curated ::-webkit-scrollbar {
    width: 15px;
 }
.playlistscroll ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
 }
.playlistscroll ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb:hover {
    background: #fff;
 }
 /*Audio section*/
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
 }
audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    border-radius: 50%;
 }
audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
 }
audio::-webkit-media-controls-enclosure{
    background-color: rgba(255,255,255,.5);
 }   
/* your playlist*/
.yourplaylist{
    display: grid;
    overflow: hidden;
    background-color: #020873;
    height: 500px;
    overflow-y: auto;
    width: 75%;  
 } 
.yourplaylist{
    padding-left: 30px;
} 
    
.list{
    color: #590242;
    position: absolute; top: 725px;
}    

.Best img{
    position: relative;
    top: 70px;
    padding-right: 65%;
    width: 175px;
    height: 175px;
}
.Best, h2{
    color: #fff;
 }

.best20{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
 }
.Pumpkin img{
    position: relative;
    top: 70px;
    padding-right: 65%;
    width: 175px;
    height: 175px;
}
.Pumpkin h2{
    color: #fff;
 }
.pumpkinspice{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
} 

.Quiet h2{
    color: #fff;
 }
.quietstorm{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
} 
.Quiet img{
    position: relative;
    top: 70px;
    padding-right: 65%;
    width: 175px;
    height: 175px;
}
.Smooth h2{
    color: #fff;
 }

.jazz{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
}

.Smoothjazz h2{
    padding-left: 10px;
 }
.Smooth img{
    position: relative;
    top: 70px;
    padding-right: 65%;
    width: 175px;
    height: 175px;
}


.jazz{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
}

.Study h2{
    color: #fff;
 }
.Study img{
    position: relative;
    top: 70px;
    padding-right: 65%;
    width: 175px;
    height: 175px;
}
.smoothstudy{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 200px;
} 

/* CURATED LIST*/

.Boozy{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 220px;

 }

.Dinner{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 220px;
 }

.Mellow{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 220px;
 }

.Chill{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 220px;
} 
 
.Saxophone{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    width: 200px;
    bottom: 125px;
    left: 220px;
}
.block2 {
   background-color: #0d8dfb ;
   color: #fff;
   text-align: center;
} 
.block2 img{
    position: relative;
    top: 70px;
    right: 110px;
    width: 175px;
    height: 175px;
} 
 /*Buttons*/
#trendingbutton{
    padding-bottom: 40px;
}
.playlistbuttons{
    text-decoration: none;
    background-color: #590242;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
 }
.playlistbuttons button:hover {
    background-color: #020659;
 }
.more,.more1, .more2{
    text-decoration: none;
    background-color: #590242;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
.more:hover{
    background-color: #020659;
}
.more2{
    float: right;
    position: relative;
    bottom: 80px;
    right:30px;
}
.more1{
    position: relative;
    left: 260px;
}
.more{
    position: relative;
    left: 740px;

}
/* Trending music*/
.trendingmusic ::-webkit-scrollbar {
    width: 15px;
 }
.trendingmusic ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
 }
.trendingmusic ::-webkit-scrollbar-thumb {
    background-color: #590242;
    border-radius: 5px;
 }
.trendingmusic {
    background-color: #fff;
    color: #590242;
 }

.curatedplaylist{
   background-color: #2699fb;
   overflow-y: auto;
   width: 75%;
   height: 500px;
}
.Songs{
  background-color: #fff;
  position: absolute;
  top: 250px;
  width: 350px;
   
  
}
.songs, dt{
    position: relative;
    bottom: 20px;
}
.Songs, dd{
    position: relative;
    bottom: 39px;
    left: 5px;
}
.songs img{
    height: 200px;
}
footer{
   color: #590242;
   background-color: #fff;
   text-align: center;
   padding-left: 200px;
   padding-top: 50px;
   position: relative;
   bottom: 20px;
}